.review {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--secondary-color);
    color: var(--black);
    justify-content: center;
    border-radius: 3rem 3rem 3rem 0;
    padding: 1rem;
    min-width: 60%;
    box-shadow: 19px 16px 8px -7px rgba(0, 0, 0, 0.1);
}

.review:nth-child(even) {
    background-color: var(--tertiary-color);
}

.reviewAuthorAndNote {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.stars {
    display: flex;
    justify-content: flex-end;
    color: #FABB05;
}