.reviews {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 2rem;
    padding: 3rem 0;
    margin-bottom: 2rem;
    border-radius: 2rem;

}


.reviewSection {
    /* background-color: #2a4f6e3d; */
    padding: 3rem 0 2rem 1rem;
    min-height: auto;
}

.reviewSection h2 {
    text-align: center;
}


.reviews::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}

.reviews::-webkit-scrollbar-track {
    border-radius: .5rem;
    background-color: #fff;
    border: 1px solid #cacaca;
    margin-block: .1em;
}

.reviews::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #A0A0A0;
}